body{
    background-color: blueviolet;
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    text-align: center;

}

header{
    background-color: rgb(31, 32, 31)  ;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #490696;
}

nav li  {
    text-align: center;
   font-family: 'Courier New', Courier, monospace;  
   display: inline-block;
}

nav ul li a{
    display: inline;
    text-decoration: none;
    color: rgb(59, 5, 129);
    background-color: rgb(118, 31, 231);
    padding: 15px;
    cursor: pointer;
    margin: 45px;
}


section {
    margin: 40px;
}

footer{
    background-color: purple;
    color: violet;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
